<head><script async="" src="https://query.yahooapis.com/v1/public/yql?format=json&amp;rnd=20205523&amp;diagnostics=true&amp;callback=jQuery111307610068095411517_1593196358103&amp;q=select%20*%20from%20weather.forecast%20where%20woeid%20in%20(select%20woeid%20from%20geo.places(1)%20where%20text=%22Canberra,%20AUSTRALIA%22)%20and%20u=%22f%22&amp;_=1593196358104"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Regal Hotel HTML5 Template">
    <meta name="author" content="Gomal Themes">
    <link rel="icon" href="images/favicon.png">
    <title>Regal Hotel HTML5 Template</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <!-- Responsive -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div>
        <div id="vlb1overlay" style="display: none;"></div>

        <nav class="navbar navbar-default navbar-static-top navbar-absolute">
    <div class="container">
        <div class="navbar-holder">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="javascript:void(0);">Home</a>
                        <ul>
                            <li>
                                <a href="index.html">Homepage 1</a>
                            </li>
                            <li>
                                <a href="home-2.html">Homepage 2</a>
                            </li>
                            <li>
                                <a href="home-3.html">Homepage 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Rooms</a>
                        <ul>
                            <li>
                                <a href="rooms3.html">Rooms 2 Columns</a>
                            </li>
                            <li>
                                <a href="rooms1.html">Rooms 3 Columns</a>
                            </li>
                            <li>
                                <a href="rooms2.html">Rooms 4 Columns</a>
                            </li>
                            <li>
                                <a href="rooms4.html">Rooms Masonry</a>
                            </li>
                            <li>
                                <a href="rooms-single.html">Rooms Single</a>
                            </li>
                            <li>
                                <a href="room-reservation.html">Reservation</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Gallery</a>
                        <ul>
                            <li>
                                <a href="gallery1.html">3 Column Full</a>
                            </li>
                            <li>
                                <a href="gallery2.html">4 Column Full</a>
                            </li>
                            <li>
                                <a href="gallery3.html">2 Column Masonry</a>
                            </li>
                            <li>
                                <a href="gallery4.html">3 Column Masonry</a>
                            </li>
                            <li>
                                <a href="gallery5.html">Full Width Slider</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Blog</a>
                        <ul>
                            <li>
                                <a href="blog.html">Blog Full Width</a>
                            </li>
                            <li>
                                <a href="blog-sidebar.html">Blog With Sidebar</a>
                            </li>
                            <li>
                                <a href="blog-single-full.html">Single Full Width</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Single Right Sidebar</a>
                            </li>
                            <li>
                                <a href="blog-single-left.html">Single Left Sidebar</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <!-- Flags -->
                    <li class="top-flags">
                        <a href="#">
                            <img src="images/fr.png" alt="">
                        </a>
                        <a href="#">
                            <img src="images/en.png" alt="">
                        </a>
                    </li>
                    <!-- Search -->
                    <li class="top-search">
                        <a href="#"><i class="fa fa-search"></i> </a>
                    </li>
                </ul>
                <!-- Search Overlay -->
                <div class="search-overlay">
                    <form>
                        <div>
                            <input type="text" name="s" id="s" placeholder="Search for...">
                            <button type="submit"><i class="fa fa-search"></i> </button>
                        </div>
                    </form>
                    <button title="Close (Esc)" type="button" class="search-close">×</button>
                </div>
                <!-- End Search Overlay -->
            </div>
        </div>
    </div>
</nav>
<section class="home-banner bg-image" data-stellar-background-ratio="0.5" data-image="images/banner-1.jpg" style="background-image: url(&quot;images/banner-1.jpg&quot;); background-position: 0% 0px;">
    <div class="container middle">
        <div class="banner-caption">
            <h4 class="color-half-white text-uppercase">WELCOME TO OUR HOTEL</h4>
            <h1>A Luxury Journey</h1>
        </div>
    </div>
    <!-- Availability Box -->
    <div class="availability-box">
        <h5 class="color-half-white">Make a booking online or contact us on +00 11 22 33 44 55</h5>
        <div class="inner">
            <form action="room-reservation.html" method="get">
                <ul>
                    <li>
                        <label for="checkin_date">CHECK IN</label>
                        <input type="text" name="checkin_date" id="checkin_date" class="hasDatepicker">
                    </li>
                    <li>
                        <label for="checkout_date">CHECK OUT</label>
                        <input type="text" name="checkout_date" id="checkout_date" class="hasDatepicker">
                    </li>
                    <li>
                        <label for="check_guest-button">GUESTS</label>
                        <select name="check_guest" id="check_guest" style="display: none;">
                            <option>01</option>
                            <option selected="selected">02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                        </select><span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="check_guest-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="check_guest-menu" aria-haspopup="true" style="width: 40px;"><span class="ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">02</span></span>
                    </li>
                </ul>
                <button type="submit" class="hvr-shutter-out-horizontal">Check Availability</button>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="padding-top-130">
    <div class="container">
        <div class="col-sm-8">
            <h3 class="title">ABOUT US</h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
            <div class="space10"></div>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
        </div>
        <div class="col-sm-4">
            <img src="images/about-image.png" alt="">
        </div>
    </div>
</section>
<section data-color="#f5f5f5" style="background-color: rgb(245, 245, 245);">
    <div class="container">
        <div class="col-md-7">
            <div id="carousel-example-generic" class="carousel slide rooms-slider" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/rooms/room1.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/rooms/room2.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="images/rooms/room3.jpg" alt="">
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
            </div>
        </div>
        <div class="col-md-5">
            <div class="rooms-details">
                <h3>GRAND SUPERIOR ROOM</h3>
                <p class="font-18 mp-bold">Prices Start from:   $499</p>
                <div class="space20"></div>
                <a href="#" class="btn hvr-shutter-out-horizontal">BOOK NOW</a>
                <div class="clearfix"></div>
                <div class="room-facilities">
                    <h4>Amenities</h4>
                    <ul>
                        <li>Internet / Free Wifi</li>
                        <li>Bathroom with Jacuzzi</li>
                        <li>Air Conditioning</li>
                        <li>Walking Track</li>
                        <li>Multiple High-Def LED Tv’s</li>
                    </ul>
                    <a href="rooms-single.html" class="ms-regular">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="title text-center">TESTIMONIALS</h3>
        <div class="space30"></div>
        <div id="client-testimonials" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <div class="inner">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis erat eu tempor interdum. Vivamus pulvinar nibh sed leo ultrices convallis. Phasellus ac augue ipsum. consectetur adipiscing elit.</p>
                        <div class="test-author">
                            <img src="images/author.jpg" alt="">
                            <div>
                                <h3>JAKE PAUL</h3>
                                <p>CEO, Orange</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="inner">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis erat eu tempor interdum. Vivamus pulvinar nibh sed leo ultrices convallis. Phasellus ac augue ipsum. consectetur adipiscing elit.</p>
                        <div class="test-author">
                            <img src="images/author.jpg" alt="">
                            <div>
                                <h3>JAKE PAUL</h3>
                                <p>CEO, Orange</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-image parallax" data-stellar-background-ratio="0.5" data-image="images/parallax1.jpg" style="background-image: url(&quot;images/parallax1.jpg&quot;); background-position: 0% -1199.5px;">
    <div class="container">
        <div class="text-center color-white">
            <h3 class="color-white">LOREM IPSUM DOLAR SIT AMET</h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis<br> bibendum auctor, nisi elit consequat ipsum,</p>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-sm-6 col-md-3">
            <div class="service-box">
                <i class="fa fa-wifi"></i>
                <h4>FREE WIFI</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="service-box">
                <i class="fa fa-desktop"></i>
                <h4>LCD TV</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="service-box">
                <i class="fa fa-coffee"></i>
                <h4>BREAKFAST</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="service-box">
                <i class="fa fa-cab"></i>
                <h4>AIRPORT TAXI</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
            </div>
        </div>
    </div>
</section>
<section data-color="#f5f5f5" style="background-color: rgb(245, 245, 245);">
    <div class="container">
        <div class="col-sm-6">
            <h3 class="title">MEETING ROOMS WITH<br>OUTSTANDING SERVICE</h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
            <hr>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non.Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
            <div class="space30"></div>
            <div class="clearfix"></div>
            <p class="font-18 mp-bold pull-left margin-top-10">Prices Start from:   $499</p>
            <a href="rooms-single.html" class="btn hvr-shutter-out-horizontal pull-right">BOOK NOW</a>
        </div>
        <div class="col-sm-6">
            <div class="space90"></div>
            <img src="images/feature-room.jpg" alt="">
        </div>
    </div>
</section>
<section class="padding-80-50">
    <div class="container">
        <h3 class="title text-center">NEWS FROM OUR BLOG</h3>
        <div class="space40"></div>
        <div class="col-md-4">
            <div class="blog-post">
                <a href="blog-single.html">
                    <img src="images/blog/1.jpg" alt="">
                </a>
                <div class="inner">
                    <h4><a href="blog-single.html">Lorem Ipsum Dolar Sit amet</a> </h4>
                    <p>Donec porttitor mattis enim, non porta ligula accumsan sed. Mauris ultrices sem eu mi viverra, aliquet ultrices felis fringilla. Curabitur feugiat dapibus tortor eu auctor. </p>
                    <div class="meta-data">
                        <p>May 26, 2016  <span>By Admin</span></p>
                        <a href="blog-single.html" class="btn hvr-shutter-out-horizontal pull-right">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-post">
                <a href="blog-single.html">
                    <img src="images/blog/2.jpg" alt="">
                </a>
                <div class="inner">
                    <h4><a href="blog-single.html">Lorem Ipsum Dolar Sit amet</a> </h4>
                    <p>Donec porttitor mattis enim, non porta ligula accumsan sed. Mauris ultrices sem eu mi viverra, aliquet ultrices felis fringilla. Curabitur feugiat dapibus tortor eu auctor. </p>
                    <div class="meta-data">
                        <p>May 26, 2016  <span>By Admin</span></p>
                        <a href="blog-single.html" class="btn hvr-shutter-out-horizontal pull-right">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-post">
                <a href="blog-single.html">
                    <img src="images/blog/3.jpg" alt="">
                </a>
                <div class="inner">
                    <h4><a href="blog-single.html">Lorem Ipsum Dolar Sit amet</a> </h4>
                    <p>Donec porttitor mattis enim, non porta ligula accumsan sed. Mauris ultrices sem eu mi viverra, aliquet ultrices felis fringilla. Curabitur feugiat dapibus tortor eu auctor. </p>
                    <div class="meta-data">
                        <p>May 26, 2016  <span>By Admin</span></p>
                        <a href="blog-single.html" class="btn hvr-shutter-out-horizontal pull-right">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center call-to-action" data-color="#002c6d" style="background-color: rgb(0, 44, 109);">
    <div class="container">
        <h3 class="color-white">HAVE A QUESTION? CALL US   1234 2345 5678</h3>
    </div>
</section>
<section class="bg-image" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-50" data-image="images/book-now.jpg" style="background-image: url(&quot;images/book-now.jpg&quot;); background-position: 0% -2419px;">
    <div class="container">
        <div class="book-overlay">
            <h3>ENJOY YOUR VACATION WITH US</h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum,</p>
            <a href="room-reservation.html" class="btn hvr-shutter-out-horizontal">BOOK NOW</a>
        </div>
    </div>
</section>
<section class="footer" data-color="#333333" style="background-color: rgb(51, 51, 51);">
    <div class="container">
        <div class="col-md-5">
            <div class="widget">
                <ul>
                    <li><a href="#">ABOUT US</a> </li>
                    <li><a href="#">OUR SERVICES</a> </li>
                    <li><a href="#">FAQ</a> </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <!-- Weather Widget -->
            <div class="weather-widget" id="weather"></div>
        </div>
        <div class="col-md-5">
            <div class="widget">
                <ul>
                    <li><a href="#">OUR ROOMS</a> </li>
                    <li><a href="#">PRIVACY POLICY</a> </li>
                    <li><a href="#">CONTACT US</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="copyright" data-color="#222222" style="background-color: rgb(34, 34, 34);">
    <div class="container">
        <p>© 2016 GomalThemes. All Rights Reserved.</p>
    </div>
</section>





<script nonce="38U5vSggV6AjYTXKyBSTaA==">
//<![CDATA[
      $(function(){viewloader.execute(Views);});

//]]>
</script>

<div id="affiliate-tracker" class="is-hidden" data-view="affiliatesTracker" data-cookiebot-enabled="true"></div>

<script src="https://consent.cookiebot.com/uc.js" data-cbid="4a6af4ea-f614-41d8-b0a9-8bb6d7fe4799" async="async" id="Cookiebot" nonce="38U5vSggV6AjYTXKyBSTaA=="></script>

<script nonce="38U5vSggV6AjYTXKyBSTaA==">
//<![CDATA[
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    var consentCookie = getCookie('CookieConsent');

    if (consentCookie) {
      var hasConsent = Market.Helpers.CookieConsent.given('statistics');

      if (hasConsent) {
        setupGoogleAnalytics();
        loadGoogleAnalytics();
        loadLinkingForAllAccounts();
      }
    } else {
      setupGoogleAnalytics();
      loadGoogleAnalytics();
      loadLinkingForAllAccounts();
    }

    window.addEventListener('CookiebotOnAccept', function (e) {
      if (Cookiebot.consent.statistics) {
        if (!(window.ga && ga.create)) {
          setupGoogleAnalytics();
          loadGoogleAnalytics();
          loadLinkingForAllAccounts();
        }
      } else {
        unloadGoogleAnalytics()
      }
    }, false);

  function getCookie(name) {
    var name = name + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var cookieContent = decodedCookie.split(';');

    for(var i = 0; i <cookieContent.length; i++) {
      var c = cookieContent[i];

      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }

      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }

    return false;
  }

  function delete_cookie_by_name(name) {
    document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }

  function unloadGoogleAnalytics() {
    var payload = {"name":"m","allowLinker":true};
    var accountId = "UA-11834194-7";

    // Set the GA User Opt-out flag
    window['ga-disable-'+accountId] = true;

    // Do not explicitly make any further calls to ga()
    ga(payload.name+".remove");

    // Delete any existing GA cookies (_ga, _gat & _gaid) and GA Client ID from localStorage
    delete_cookie_by_name('_ga');
    delete_cookie_by_name('_gat');
    delete_cookie_by_name('_gid');

    // Delete LocalStorage Entries
    if (Market.Helpers.GaLsUtils.localStorageAvailable()) {
      var clientId = Market.Helpers.GaLsUtils.getClientId();

      if (!clientId) {
        return;
      }

      Market.Helpers.GaLsUtils.removeClientId();
    }

    // Do not transmit the Client ID to other sites upon navigation (i.e. autoLink)
  }

  function domLoaded() {
    return new Promise(resolve => {
      if (
        document.readyState === 'interactive' ||
        document.readyState === 'complete'
      ) {
        resolve()
      } else {
        document.addEventListener(
          'DOMContentLoaded',
          () => {
            resolve()
          },
          {
            capture: true,
            once: true,
            passive: true
          }
        )
      }
    })
  }

  function loadLinkingForAllAccounts() {
    domLoaded().then(() => {
      var ACCOUNTS = ["m"];
      window._envGaTrackerNames = ACCOUNTS;

      for (var i = 0; i < ACCOUNTS.length; i++) {
        t = ACCOUNTS[i];

        ga(t+'.require', 'linker');

        ga(t+'.require', 'linkid', 'linkid.js');
      };

      document.body.addEventListener('click', function(event) {
        decorateLink(event);
      });
      document.body.addEventListener('contextmenu', function(event) {
        // Aside from a normal click, we need to handle the variety of ways users
        // can open a link in a new tab
        // Right click to open context menu
        decorateLink(event);
      });
      document.body.addEventListener('mousedown', function(event) {
        // Aside from a normal click, we need to handle the variety of ways users
        // can open a link in a new tab
        // Middle mouse button click
        if (event.button === 1) {
          decorateLink(event);
        }
      });
    });
  }

  function decorateLink(event) {

    var ACCOUNTS = ["m"];
    window._envGaTrackerNames = ACCOUNTS;

    var currentTarget = jQuery(event.target);
    var link = currentTarget.closest('a')[0];
    var ourDomains = ["activeden.net","audiojungle.net","themeforest.net","videohive.net","graphicriver.net","3docean.net","codecanyon.net","photodune.net","market.styleguide.envato.com","elements.envato.com","build.envatohostedservices.com","author.envato.com","tutsplus.com","sites.envato.com"];
    var filteredDomains = ourDomains.filter(function(domain) {
      return domain !== document.location.hostname;
    });

    for (var i = 0; i < ACCOUNTS.length; i++) {
      t = ACCOUNTS[i];

      if (link && link.href) {
        if (filteredDomains.includes(link.hostname) || currentSiteLinkOpensInNewWindow(link)) {
          ga(t+'.linker:decorate', link)
        }
      }
    }
  }

  function currentSiteLinkOpensInNewWindow(link) {
    return document.location.hostname === link.hostname && link.target === '_blank';
  }

  function setupGoogleAnalytics() {
    (function () {
      var accountId = "UA-11834194-7";
      window['ga-disable-'+accountId] = false;

      if (Market.Helpers.GaLsUtils.localStorageAvailable()) {
        var options = {"name":"m","allowLinker":true};

        options.storage = "none";
        options.clientId = Market.Helpers.GaLsUtils.getClientId();

        var clientIdValid = Market.Helpers.GaLsUtils.clientIdValid(options.clientId);
        if (!clientIdValid) {
          options.clientId = null;
        }

        ga("create", "UA-11834194-7", options);
        ga(function() {
          var tracker = ga.getByName(options.name);
          Market.Helpers.GaLsUtils.storeClientId(tracker.get('clientId'));
        })
      } else {
        ga("create", "UA-11834194-7", {"name":"m","allowLinker":true});
      }

      var ACCOUNTS = ["m"];
      window._envGaTrackerNames = ACCOUNTS;

      for (var i = 0; i < ACCOUNTS.length; i++) {
        t = ACCOUNTS[i];

        ga(t+'.require', 'ec');

        ga(t+'.require', 'displayfeatures');

        ga(t+'.set', 'dimension20', 'other')



        if ('') {
          ga(t+'.send', {
            hitType: 'pageview',
            page: ''
          });
        } else if ('') {
          // append the analytics_suffix to the page path so the flash alert/error type can be tracked
          var analyticsSuffix = $.trim('').replace(/([A-Z])/g, '$1').replace(/[-_\s]+/g, '-').toLowerCase();
          var uri = URI(window.location.pathname + window.location.search);
          uri.path(uri.path() + '/' + analyticsSuffix);
          var tracking_path = uri.path() + uri.search();
          ga(t+'.send', {
            hitType: 'pageview',
            page: tracking_path,
          });
        } else {
          ga(t+'.send', 'pageview');
        }
      }

      loadLinkingForAllAccounts()
    }());
  }

  function loadGoogleAnalytics() {
    (function () {

      var s=document.createElement('script');
      s.type='text/javascript';
      s.async=true;
        s.src='https://www.google-analytics.com/analytics.js';
      var x=document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s,x);
    }());
  }

  

//]]>
</script>

<script nonce="38U5vSggV6AjYTXKyBSTaA==">
//<![CDATA[

    if (typeof Cookiebot !== 'undefined' && Cookiebot.consent && Cookiebot.consent.statistics ) {
      enableGoogleAnalyticsLinkWrapper();
    } else {
      window.addEventListener('CookiebotOnAccept', function (e) {
        if (Cookiebot.consent.statistics) {
          enableGoogleAnalyticsLinkWrapper();
        }
      }, false);
    }

  function enableGoogleAnalyticsLinkWrapper() {
    // GA: universal analytics link wrapper
    (function(){
        window._envTrkrs = [["m", "UA-11834194-7"]];

        var debug = false;
        var MAX_RETRIES = 10;

        /*
           The script needs to wait until the Analytics script
           has been downloaded from Google before initializing
        */
        var waitForAnalytics = function(){
            this.count = this.count || 0;

            if (window.ga && ga.getByName) {
                e.init();
            } else {
                if (count < MAX_RETRIES) { setTimeout(waitForAnalytics, 250); }
                count++;
            }
        };

        var e = {
            _envArray: [],
            _envTrkrs: (window._envTrkrsCust && window._envTrkrsCust.length) ? window._envTrkrs.concat(window._envTrkrsCust) : window._envTrkrs,
            init: function() {
                for (var i=0; i < _envTrkrs.length; i++) {
                  if(!ga.getByName(_envTrkrs[i][0])) {
                    if (Market.Helpers.GaLsUtils.localStorageAvailable()) {
                      var clientId = Market.Helpers.GaLsUtils.getClientId();

                      ga("create", _envTrkrs[i][1], "auto", {name: _envTrkrs[i][0], storage: "none", clientId: clientId, allowLinker: true});
                    } else {
                      ga("create", _envTrkrs[i][1], "auto", {name: _envTrkrs[i][0], allowLinker: true});
                    }
                  }
                }

                document.addEventListener('DOMContentLoaded', function(){
                    e.wrapperInit();
                });

                if (debug) {console.log('Initiated');}
            },
            wrapperInit: function() {
                if (typeof window._envIsRunning != 'undefined' || window._envIsRunning == true) {
                    return
                }
                window._envIsRunning = true;

                if (document.addEventListener) {
                    document.addEventListener('click', function(event){
                        var target = event.target;
                        if (target && target.tagName === 'A') {
                            e._envLinksTracker(event);
                        }
                    });
                }
            },
            isInArray: function(e, t) {
                for (var n = 0; n < t.length; n++) {
                    var r = new RegExp(t[n], 'i');
                    if (r.test(e)) {
                        return n
                    }
                }
                return -1
            },
            _envTrackevent: function(e, t, n, r) {
                for (var i = 0; i < this._envTrkrs.length; i++) {
                    var s = this._envTrkrs[i][0].length == 0 ? '' : this._envTrkrs[i][0] + '.';
                    r.length == 0 ? ga(s + 'send', 'event', e, t, n) : ga(s + 'send', 'event', e, t, n, r)
                }
            },
            _envTrackpageview: function(e, t) {
                t = t.charAt(0) == '/' ? t : '/' + t;
                for (var n = 0; n < this._envTrkrs.length; n++) {
                    var r = this._envTrkrs[n][0].length == 0 ? '' : this._envTrkrs[n][0] + '.';
                    ga(r + 'send', 'pageview', e + t);
                }
            },
            _envLinksTracker: function(t) {
                var r = false;
                var i = {
                    outbound: {
                        run: true,
                        useEvent: true
                    },
                    download: {
                        run: true,
                        useEvent: true,
                        reg: ''
                    },
                    self: {
                        run: false,
                        useEvent: true
                    },
                    mail: {
                        run: true,
                        useEvent: true
                    },
                    ext: /\.(doc.?|xls.?|ppt.?|exe|zip|rar|gz|tar|tgz|dmg|csv|pdf|xpi|txt|mp3)$/i
                };
                var s = t.srcElement ? t.srcElement : this;
                if (t.srcElement) {
                    r = true
                }
                while (s.tagName != 'A') {
                    s = s.parentNode
                }
                if (s.href == undefined || s.href == null) {
                    return true
                }
                var o = s.href;
                if (o.length == 0) return;
                var u = s.hostname.toLowerCase();
                var a = s.pathname;
                if (a.length == 0) {
                    a = '/'
                } else if (a.substr(0, 1) != '/') {
                    a = '/' + a
                }
                var f = s.protocol;
                var l = s.search;
                var c = location.hostname;
                c = c.replace(/^www\./i, '').toLowerCase();
                u = u.replace(/^www\./i, '').toLowerCase();
                if (o.match(/^#/)) {
                    if (i.self.run) {
                        i.self.useEvent ? e._envTrackevent('self', 'click - ' + c, o, '') : e._envTrackpageview('/virtual/self', '/' + o);
                        return true
                    }
                } else if (f.match(/^mailto:/i)) {
                    if (i.mail.run) {
                        o = o.replace(/^mailto:/i, '');
                        i.mail.useEvent ? e._envTrackevent('mailto', 'click - ' + c, o, '') : e._envTrackpageview('/virtual/mailto', o);
                        return true
                    }
                } else if ((new RegExp(i.ext)).test(a)) {
                    if (i.download.run) {
                        o = o.replace(/^https?:\/\//i, '');
                        i.download.useEvent ? e._envTrackevent('download', 'click - ' + c, o, '') : e._envTrackpageview('/virtual/download', o);
                        return true
                    }
                } else if (u == undefined || u.length == 0 || f.match(/^javascript:/i)) {
                    return
                } else if ((new RegExp(c + '$', 'i')).test(u) || (new RegExp(u + '$', 'i')).test(c)) {
                    if (i.download.run && i.download.reg.length != 0) {
                        if ((new RegExp(i.download.reg, 'i')).test(a + l)) {
                            o = o.replace(/^https?:\/\//i, '');
                            i.download.useEvent ? e._envTrackevent('download', 'click - ' + c, o, '') : e._envTrackpageview('/virtual/download', o);
                            return true
                        }
                    }
                } else if (u != c) {
                    if (e.isInArray(u, e._envArray) == -1) {
                        if (i.outbound.run) {
                            i.outbound.useEvent ? e._envTrackevent('outbound', 'click - ' + c, u + a + l, '') : e._envTrackpageview('/virtual/outbound', u + a);
                            return true
                        }
                    } else if (e.isInArray(u, e._envArray) != -1) {
                        var h = s.target;
                        if (h != null && h == '_blank') {
                            if ((new RegExp(/_utma=/)).test(l)) {
                                return true
                            }
                            var p = e._envTrkrs[0][0].length == 0 ? '' : _envTrkrs[0][0] + '.';
                            return true
                        } else {
                            return false
                        }
                    }
                }
            }
        };

        waitForAnalytics();
    })()
  }

//]]>
</script>

<script nonce="38U5vSggV6AjYTXKyBSTaA==">
//<![CDATA[
  // Set New Relic custom attributes
  (function () {
    if (typeof newrelic !== 'undefined') {
      newrelic.setCustomAttribute('pageType', 'other')
    }
  })()

//]]>
</script>
<script nonce="38U5vSggV6AjYTXKyBSTaA==">
//<![CDATA[
    if (typeof Cookiebot !== 'undefined' && Cookiebot.consent && Cookiebot.consent.marketing) {
      enableGoogleTagManager();
    } else {
      window.addEventListener('CookiebotOnAccept', function (e) {
        if (Cookiebot.consent.marketing) {
          enableGoogleTagManager();
        }
      }, false);
    }

  function enableGoogleTagManager() {
    var gtmId = 'GTM-585RXMV';
    // Google Tag Manager Tracking Code
    (function(w,d,s,l,i) {
      w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});
      var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
      j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',gtmId);


    window.addEventListener('load', function() {
      window.dataLayer.push({
        event: 'pinterestReady'
      });
    });
  }

//]]>
</script>
<iframe name="__uspapiLocator" tabindex="-1" role="presentation" aria-hidden="true" title="Blank" style="display: none; position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe>

<div id="shadowMeasureIt"></div>

<div id="divCoordMeasureIt"></div>
<div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div>
<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.3737884622972458"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.7863306655398505" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=16005611&amp;Ver=2&amp;mid=ff909fb6-5968-d5ba-c305-3e239dfe20d6&amp;sid=15680cc2-c62f-4078-66bc-381c4c6d51db&amp;vid=13f6c33f-e47c-87bd-f2ce-1a734bd9ec85-0&amp;pi=1200101525&amp;lg=en-GB&amp;sw=1600&amp;sh=900&amp;sc=24&amp;tl=Regal%20-%20Hotel%20HTML5%20Responsive%20Template%20Preview%20-%20ThemeForest&amp;p=http%3A%2F%2Fpreview.themeforest.net%2Fitem%2Fregal-hotel-html5-responsive-template%2Ffull_screen_preview%2F16919032%3F_ga%3D2.193104430.2045611902.1593195462-2017445824.1592664747&amp;r=https%3A%2F%2Fthemeforest.net%2F&amp;lt=2702&amp;evt=pageLoad&amp;msclkid=580b9e57518b1b51e5e4c0a686937fbf-0&amp;sv=1&amp;rn=986680"></div>
    </div>

</body>

